

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="index.html">Calorie Crunch</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="index.html">Home</a></li>
											<!-- <li><a href="generic.html">Generic</a></li> -->
											<!-- <li><a href="elements.html">Elements</a></li> -->
											<!-- <li><a href="#">Sign Up</a></li> -->
											<!-- <li><a href="#">Log In</a></li> -->
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<article id="main">
<!-- 						<header>
							<h2>Elements</h2>
							<p>Aliquam ut ex ut interdum donec amet imperdiet eleifend</p>
						</header> -->
						<section class="wrapper style5">
							<div class="inner">
								<section>
									<h2>Welcome, {{name}}!</h2>
									<!-- <h5>Left &amp; Right</h5> -->
									<p><span class="image left"><img src="./assets/images/bob.jpg" alt="" /></span>
									<b>Name:</b> {{name}}<br>
									<b>Age:</b> 35<br>
									<b>Weight:</b> 150 lbs<br>
									<b>Height:</b> 5'7<br>
									<b>Gender:</b> Male<br>
									<b>Activity Level:</b> High<br>
									</p>
									<br><br><br><br><br><br><br><br><br>
								</section>

							</div>
						</section>
					</article>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
